body{
    background: rgb(153, 135, 108);
    font-family: 'Lato', sans-serif;
}

.header{
    padding: 60px;
    margin-bottom: 15px;
    text-align: center;
    background: #59879c;
    color:white;
    font-size: 30px;
    border: 1px solid black;
}

.umrechner{
    display: flex;
    justify-content: center;
    align-items: center;

}

.eingabefelder {
    display: flex;
    flex-direction: column;
    margin: 0px 16px;
    border: 3px solid #000000;
    max-width: 25%;
}

.umrechner input {
    border: none;
    border-bottom: 1px solid #dadada;
    appearance: textfield;
}

.umrechner input::-webkit-inner-spin-button{
    appearance: none;
}

.umrechner input:focus{
    outline: none;
}

.umrechner input, .umrechner label{
    padding: 0.5em;
    text-align: center;
}

.umrechner * {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;

}

.history-box {
    text-align: center;
    text-decoration: underline;
}

@media (max-width:650) {
    .umrechner {
        flex-direction: column;
    }

    .eingabefelder{
        max-width: 95%;
    }
}