body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(253, 224, 180);
}

.header {
    padding: 60px;
    text-align: center;
    background: #89cff0;
    color:white;
    font-size: 30px;
    border: 1px solid black;
}

.footer {
    padding: 20px;
    padding-top: 5px;
    text-align: center;
    background: #ddd;
    margin-top: 5px;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    text-shadow: 3px 3px 3px white;
}

.row {
    display: flex;
    padding-top: 5px;
    
}

.left {
    width: 30%;
    height: 500px;
    margin-right: 5px;
    background-color: aqua;
    text-align: center;
    border: 1px solid black;

}

.right {
    width: 70%;
    height: 500px;
    background-color: aliceblue;
    text-align: center;
    border: 1px solid black;
}

