.header {
    padding: 60px;
    text-align: center;
    background: #89cff0;
    color:white;
    font-size: 30px;
}

.footer {
    padding: 20px;
    padding-top: 5px;
    text-align: center;
    background: #ddd;
    margin-top: 5px;
    color: rgb(0, 0, 0);
}

.row {
    display: flex;
    padding-top: 5px;
}

.left {
    width: 30%;
    height: 500px;
    margin-right: 5px;
    background-color: aqua;

}

.right {
    width: 70%;
    height: 500px;
    background-color: aliceblue;
    text-align: center;
}

